LPT: The first two measurements need to be made with precision,
if possible use calipers and mark it on your filament with some easily soluble marker to avoid clogs!
<br><br>

Distance we'll calibrate to: (recommended is 70mm) <br>
<input [(ngModel)]="initial_mark_distance" placeholder="In mm, eg.: 70" />
<pre class="variable">initial_mark_distance</pre>
<br><br>

Distance we'll extrude: (recommended is 50mm) <br>
<input [(ngModel)]="requested_extrude_distance" placeholder="In mm, eg.: 50" />
<pre class="variable">requested_extrude_distance</pre>
<br><br>

1- <strong>Heat up your extruder</strong> to the filament's recommended temperature (usually 215° C for PLA). <br>
2- Execute this GCode <strong>in order</strong>, in Fluidd or Mainsail's Klipper console: <br>
<pre>
  G91
  G1 E{{ requested_extrude_distance }} F60
</pre>

Type the space left between original mark and extruder after extrusion, in mm with decimals: <br>
<input [(ngModel)]="subsequent_mark_distance" placeholder="In mm with decimals, eg.: 18.5" />
<pre class="variable">subsequent_mark_distance</pre>
<br><br>

<button type="button" (click)="calculateActualExtrudeDistance()">Calculate actual_extrude_distance</button>
<br><br>

Distance extruded in mm (auto-calculated): <br>
<input [(ngModel)]="actual_extrude_distance" placeholder="Auto-calculated value..." readonly />
<pre class="variable">actual_extrude_distance</pre>
<br><br>

Value of rotation_distance that is currently in your printer.cfg with decimals: <br>
<input [(ngModel)]="previous_rotation_distance" placeholder="In mm with decimals, eg.: 32.567" />
<pre class="variable">previous_rotation_distance</pre>
<br><br>

<button type="button" (click)="calculateRotationDistance()">Calculate new rotation_distance</button>
<br><br>

Final result to input in printer.cfg as your new rotation_distance, already rounded to 3 decimal positions: <br>
<input [(ngModel)]="rotation_distance" placeholder="Auto-calculated value..." readonly />
<pre class="variable">rotation_distance</pre>
